/*
Color Platte

1C1d24 - black
EA2340 - red
F5EEE6 - witheish
FFFFFF - white
*/

body {
  background-color: #1c1d24;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 20px;
}

.window {
  height: 90vh;
  position: relative;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.form {
  display: flex;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 100%;
}

.form > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 15px;
}

.message-bar {
  margin: 0 10px;
}

.send-btn {
  margin: 0 10px;
  background-color: white;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 15px;
}

.chat-message {
  text-align: left;
  color: black;
  background-color: #f5eee6;
  padding: 5px 15px;
  margin: 10px;
  width: fit-content;
  border-radius: 4px;
  font-weight: 100;
  font-size: 16px;
  max-width: 50%;
}

#hidden {
  display: none;
}

.sender {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8px;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #ea2340;
}
