/*
Color Platte

1C1d24 - black
EA2340 - red
F5EEE6 - witheish
FFFFFF - white
*/

body {
  background-color: #fefefe;
  color: black;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.container {
  margin: 0;
}

.window {
  height: 80vh;
  position: relative;
  background-color: #fefefe;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.form {
  display: flex;
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 100%;
}

.form > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.message-bar {
  margin: 0 10px;
}

.send-btn {
  margin: 0 10px;
  background-color: white;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 15px;
}

.chat-message {
  color: black;
  background-color: #f5eee6;
  padding: 10px 30px;
  margin: 10px;
  width: fit-content;
  border-radius: 30px;
  font-weight: 900;
  font-size: 14px;
  max-width: 50%;
}

#hidden {
  display: none;
}

.info {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8px;
  padding: 0;
  margin: 0;
  text-align: left;
  color: black;
}

.sender {
  text-align: left;
}

.username {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user {
  text-align: right;
  color: black;
}

.user > .chat-message {
  border-bottom-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 10px 10px auto;
}

.user > .chat-message > .info {
  display: none;
}

.user > .chat-message > #time {
  display: inline;
}

.sender > .chat-message {
  background-color: #00a1e1;
  border-bottom-left-radius: 5px;
  color: white;
}

.header {
  height: 8vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row-reverse;
}

.sendername {
  display: block;
  padding-bottom: 6px;
}

.logoutBtn {
  background: transparent;
  border: none;
  outline: none;
  transform: scale(0.6);
}
