<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/chatWindow.css" type="text/css" />
    <title>Chatter</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <span class="username">hello online </span>
        <button class="logoutBtn" onclick="logout()">
          <img src="https://img.icons8.com/ios/50/000000/logout-rounded.png" />
        </button>
      </div>
      <div class="window"></div>
    </div>
    <div class="form">
      <input
        class="message-bar"
        type="text"
        name="message"
        placeholder="Type your message"
        autocomplete="off"
        autofocus
      />
      <button class="send-btn" onclick="sendMessage()">send</button>
    </div>
  </body>
  <script src="js/chatWindow.js"></script>
</html>
